<div class="row no-wrap">
    <div class="col-sm">
        <div class="text-centered">Item</div>
        {{#each products}}
        <div class="text-centered">{{product_name}}</div>
        {{/each}}
    </div>
    <div class="col-sm">
        <div class="text-centered">Price</div>
        {{#products}}
        <div class="text-centered">{{price}}</div>
        {{/products}}
    </div>
</div>