<div class="row no-gutters margin-five">
    <div class="col">
        <div class="card menu-card" style="width: 300px;">
            <div class="card-body">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"{{review_text}}"</p>
                    <footer class="blockquote-footer">
                        {{customer.first_name}} on {{format_date created_at}}
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>