<div class="row no-gutters margin-five">
    <div class="col">
        <div class="card menu-card" style="width: 300px;">
            <div class="card-body">
                <p class="card-text">{{review_text}}</p>
                <p>{{customer.username}} on {{created_at}}</p>
            </div>
        </div>
    </div>
</div>