<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <title>3 Guys Pizza n Pies</title>
</head>

<body id="body-main" class="background-one">
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="col-md" href="/"><img id="logo" src="/images/likemeat-CbNAuxSZTFo-unsplash.jpg"
                        alt="a pizza cut into 3 weird pieces" width="90" height="75"></a>
                <h3 class="col-md text-centered font-weight-bold">3 Guys Pizza-n-Pies</h3>
                <div class="col-md d-flex justify-content-end">
                    <a href="/menu" class="btn btn-dark margin-five">Menu</a>
                    {{#if loggedIn}}
                    <button id="logout" class="btn btn-dark margin-five">Logout</button>
                 {{else}}
                 <a href="/login" class="btn btn-dark margin-five">Login</a>
                 {{/if}}
                </div>
            </div>
        </nav>
    </header>
    <main class="grid-container">
        {{{ body }}}
    </main>

    <footer id="footer" class="navbar justify-content-center">
        <div class="container flex row justify-content-center">
            <div class="col-md d-flex justify-content-start">
                Located at: <br>
                1234 N Main St.
                Someplace, WI. 53535
            </div>
            <div class="col-md">
                <img src="/images/likemeat-CbNAuxSZTFo-unsplash.jpg" alt="a pizza cut into 3 weird pieces"
                    width="90" height="75">
                <h6>
                    Thanks for visiting!
                </h6>
            </div>
            <div class="col-md d-flex justify-content-end">                
                <div class="col-md">
                    <h6>Contact Us</h6>
                    <a href="https://ericbwebdev86.github.io/abn-dev-portfolio/" target="_blank">Eric Bates</a><br>
                    <a href="https://p-fassbender.github.io/personal-portfolio/" target="_blank">Preston Fassbender</a><br>
                    <a href="https://mattkolbach.github.io/mkportfolio/" target="_blank">Matt Kolbach</a>
                </div>
            </div>
        </div>
    </footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>