<script>
    document.getElementById("body-main").classList.remove("background-one")
    document.getElementById("body-main").classList.remove("background-two")
    document.getElementById("body-main").classList.remove("background-three")
    document.getElementById("body-main").classList.add("background-three")
</script>

<div class="container">
    <div class="container flex justify-content-center">
        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-page" style="width: 330px;">
                    <a class="card-img" href="/pizza">
                        <img id="logo" src="/images/likemeat-CbNAuxSZTFo-unsplash.jpg"
                            alt="a pizza cut into 3 weird pieces" width="320" height="260">
                    </a>
                    <div class="text-centered">
                        <h3 class="card-label">Pizzas</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-page" style="width: 330px;">
                    <a class="card-img" href="/pie">
                        <img id="logo" src="/images/kavya-p-k-zQ4jrYelvLs-unsplash.jpg"
                            alt="an apple pie seen from above with 2 apples next to it" width="320" height="260">
                    </a>
                    <div class="text-centered">
                        <h3 class="card-label">Pies</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>