<script>
    document.getElementById("body-main").classList.remove("background-one")
    document.getElementById("body-main").classList.remove("background-two")
    document.getElementById("body-main").classList.remove("background-three")
    document.getElementById("body-main").classList.add("background-three")
</script>

<div class="container">
    {{#if loggedIn}}
    <style>
        .product-btn {
            pointer-events: inherit;
        }
    </style>
    {{else}}
    <style>
        .product-btn {
            pointer-events: none;
        }
    </style>
    <div class="row justify-content-center margin-thirty">
        <a class="btn btn-dark order-nav-btn" href="./register-page.html">Log in to order</a>
    </div>
    {{/if}}
    <div class="container flex justify-content-center">
        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Cheese Pizza</h5>
                        <p class="card-text">A classic, can't go wrong choice. Our signature red sauce with 4 types of
                            cheese.</p>
                        <a id="1" class="btn btn-dark product-btn" value="1">12"</a>
                        <a id="2" class="btn btn-dark product-btn" value="2">14"</a>
                        <a id="3" class="btn btn-dark product-btn" value="3">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Pepperoni King</h5>
                        <p class="card-text">Always a crowd favorite. More pepperoni than you can shake a stick at and
                            our signature red sauce with cheese blend.</p>
                        <a id="4" class="btn btn-dark product-btn" value="4">12"</a>
                        <a id="5" class="btn btn-dark product-btn" value="5">14"</a>
                        <a id="6" class="btn btn-dark product-btn" value="6">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Sausage Pizza</h5>
                        <p class="card-text">We start with our signature red sauce and cheese blend and top it with a
                            bed of crumbled italian sausage from the local butcher.</p>
                        <a id="7" class="btn btn-dark product-btn" value="7">12"</a>
                        <a id="8" class="btn btn-dark product-btn" value="8">14"</a>
                        <a id="9" class="btn btn-dark product-btn" value="9">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Supreme</h5>
                        <p class="card-text">Red sauce, cheese blend, all covered in a melee of pepperoni, sausage,
                            bacon, mushrooms, green peppers, onions, and black olives.</p>
                        <a id="10" class="btn btn-dark product-btn" value="10">12"</a>
                        <a id="11" class="btn btn-dark product-btn" value="11">14"</a>
                        <a id="12" class="btn btn-dark product-btn" value="12">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">The Butcher</h5>
                        <p class="card-text">Cow, Pig, Chicken, OH MY! This one starts with our signature red sauce and
                            cheese blend topped with everything behind the counter at the butcher. Pepperoni, ground
                            hamburger, ground italian sausage, bacon curumbles, sliced ham, and seasoned chicken breast
                        </p>
                        <a id="13" class="btn btn-dark product-btn" value="13">12"</a>
                        <a id="14" class="btn btn-dark product-btn" value="14">14"</a>
                        <a id="15" class="btn btn-dark product-btn" value="15">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Hawaiian Pizza</h5>
                        <p class="card-text">Love it or hate it, it's a classic. Red sauce, 4 cheese blend, cooked ham,
                            pineapple, and a sprinkling of crispy bacon crumbles.</p>
                        <a id="16" class="btn btn-dark product-btn">12"</a>
                        <a id="17" class="btn btn-dark product-btn">14"</a>
                        <a id="18" class="btn btn-dark product-btn">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">BBQ Chicken Pizza</h5>
                        <p class="card-text">Tangy and Sweet BBQ sauce, chopped chicken, red onions, some cilantro for
                            color, and tons of cheese. This pizza is sure to please.</p>
                        <a id="19" class="btn btn-dark product-btn">12"</a>
                        <a id="20" class="btn btn-dark product-btn">14"</a>
                        <a id="21" class="btn btn-dark product-btn">16"</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters margin-five">
            <div class="col">
                <div class="card menu-card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Buffalo Chicken Pizza</h5>
                        <p class="card-text">Buffalo sauce, shredded chicken, blue cheese dressing, blue cheese
                            crumbles, and a dash of cilantro. Napkins and sports ball game not included, but
                            recommended.</p>
                        <a id="22" class="btn btn-dark product-btn">12"</a>
                        <a id="23" class="btn btn-dark product-btn">14"</a>
                        <a id="24" class="btn btn-dark product-btn">16"</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--show button if logged in, or disable status bar part for logged out-->
    <div class="row justify-content-center margin-thirty">
        <a class="btn btn-dark order-nav-btn pie-page-btn" href="/pie">To The Pies!</a>
    </div>
</div>