
.background-one {
  background-color: #8b2e00;
  background-image: url('../images/nik-owens-40OJLYVWeeM-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background-two {
  background-color: #8b2e00;
  background-image: url('../images/fabrizio-pullara-vHRFraV4U00-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background-three {
  background-color: #8b2e00;
  background-image: url('../images/louis-hansel-W75bFvPPrK8-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#body-main {
  min-height: 100vh;
  margin: 0;
  color: white;
  display: grid;
  grid-template-rows: auto minmax(0,1fr) auto;
  row-gap: 20px;
}
.grid-container {
  display: grid;
  row-gap: 10px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.item2 {
  grid-row-start: 3;
  grid-row-end: 4;
}

.home-pg-box {
  max-height: 40vh;
}

#reviews-container {
  align-items: flex-end;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  color: white;
}

.content {
  flex: 1 0 auto;
}

footer {
  color: white;
  text-align: center;
}

footer img {
  align-items: center;
  border-radius: 25%;
}

#logo {
  border-radius: 25%;
}

.form-container {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
}

.menu-card {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.menu-page {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20%;
}

.card-label {
  font-size: 36px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.margin-five {
  margin: 5px;
}

.margin-fifteen {
  margin: 15px;
}

.margin-thirty {
  margin: 30px;
}

.padding-ten {
  padding: 10px;
}

.text-centered {
  text-align: center;
} 

.card-img {
  text-align: center;
}

.login-page {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  height:min-content
}

.text-align-right {
text-align: right;
}

.form-background {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.no-wrap {
  flex-wrap: nowrap
}

.cc-field {
  background-color: rgb(36, 36, 36, 0.7);
}

.order-start-btn {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  background-color: rgba(65, 65, 65, 0.7);
}
.order-nav-btn {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  background-color: rgba(65, 65, 65, 0.7);
}




.input-group {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: white;
}

.input-group input {
  position: relative;
  height: 80px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 6px;
  padding-top: 30px;
  padding-left: 25px
}

.input-group label {
  position: absolute;
  height: 24px;
  background: none;
  border-radius: 6px;
  line-height: 48px;
  font-size: 15px;
  width: 100%;
  font-weight: 120;
  padding-left: 25px;
}

.form-card {
  margin-left: 20px;
  margin-right: 20px
}

.form-card input,
.form-card textarea {
    padding: 10px 15px 5px 15px;
    border: none;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: arial;
    color: white;
    font-size: 16px;
    letter-spacing: 1px
}

.form-card input:focus,
.form-card textarea:focus {
    -moz-box-shadow: 0px 0px 0px 1.5px skyblue !important;
    -webkit-box-shadow: 0px 0px 0px 1.5px skyblue !important;
    box-shadow: 0px 0px 0px 1.5px skyblue !important;
    font-weight: bold;
    border: 1px solid #304FFE;
    outline-width: 0
}

.hero {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px black
}
.hero-big-text {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 0.2em;
}